


.page-header {
  text-align: center;
  margin: 20px 0 30px 0;
}

.page-header__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--risd-blue);
  font-size: 50px;
}
