





* {
  box-sizing: border-box;
}

@import "tailwindcss";

:root {
  --risd-blue: #1852fe;
  --blue-crayola: #3f79ff;
  --cornflower-blue: #659fff;
  --jordy-blue: #8dc5fe;
  --non-photo-blue: #b2edff;
  --background: rgba(178, 237, 255, 0.437);
  --background2: #CAF2FF;
}


body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-size: 20px;
}